*{
    padding: 0;
    margin: 0;
}
main{
    margin-top: 5%;
}
header{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content:space-evenly ;
}
header .divSearch{
    background-color: palevioletred;
    text-align: center;
    border-radius: 7px;
    padding: 8px;
    cursor: pointer;
}
header .divSearch i{
    font-size: 14px;
    color:darkslategray;
}
header .divSearch input{
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    color: darkslategray;
    font-size: 12px;
}
header .addcontact{
    padding: 10px 60px;
    background-color: palevioletred;
    border-radius: 7px;
    border: none;
    outline: none;
    color: darkslategray;
    font-size: 14px;
    cursor: pointer;
}

.overlay{
    position: fixed;
    top:0%;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:(0,0,0,0.67) ;    
}

/*from section*/
.addnew{
    width: 30%;
    background-color:palevioletred;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 7px;
    padding: 40px;
    border: 1px solid goldenrod;
    z-index:2 ;
    color: darkslategray;
    font-size: 12px;
    display: none;
}
.addnew > i{
    font-size:70px ;
}
.addnew input{
    width: 90%;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    color:darkslategray ;
    font-size: 13px;
}
.addnew .btn{
    background-color:transparent ;
    padding: 10px 20px;
    border: 1px solid;
    font-size: 20px;
    color:darkslategray ;
    margin-top: 30px;
    border-radius: 6px;
    cursor: pointer;
}
.addnew .close{
    font-size: 25px;
    color:darkslategray ;
    border-radius: 6px;
    position: absolute;
    top: 2%;
    right: 3%;
}
/*table Section*/
.tablesec{
    margin-top: 40px;
}
.tablesec table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    text-align: center;
}
th,td{
    border: 1px solid goldenrod;
    padding: 10px 20px;
}
th .img{
    width: 75px;
    height: 70px;
    margin-left:10px ;
    border: 2px solid black;
    border-radius: 50%;
}
.green{
    color: green;
}
.red{
    color: red;
}